html {
    font-size: $base-font-size;
}

body {
    color: $text-color;
    /* use normal weight for body so bold/strong renders consistently */
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

abbr {
    border-bottom: $abbr-border-bottom;
    cursor: help;
}

p {
    color: #333;
    line-height: 1.5;
}

small,
.small {
    font-size: 0.707rem;
}

sup {
    position: relative;
    vertical-align: middle;
    top: -0.9ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}

/* make strong and bold text clearly visible across devices */
strong,
b {
    font-weight: 700;
}

/* Responsive adjustments: ensure images, iframes scale and avoid layout breakage */
img,
iframe,
embed,
object,
video {
    max-width: 100%;
    height: auto;
}

/* Improve legibility on small screens: slightly reduce heavy heading weight if necessary */
@media (max-width: 600px) {

    h1,
    h2,
    h3 {
        font-weight: 700;
    }
}

div.equation {
    margin: $space-1 0;
}